<footer class="mdl-mini-footer">
  <ul class="mdl-mini-footer__link-list">
    <li class="footer__copyright">&copy; Easystatic</li>
    <li>Maintained by <a href="https://twitter.com/koistya">@koistya</a> with help from <a href="https://github.com/easystatic/easystatic/graphs/contributors">contributors</a></li>
  </ul>
</footer>
