@import 'header.css';
@import 'footer.css';

html > body {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

.color--white {
  color: #fff;
}

.l-title {
  padding-right: 24px;
}

.l-title,
.l-title:active,
.l-title:visited,
.l-title:hover {
  color: #fff;
  text-decoration: none;
}

.l-page {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 40px 0 80px;
  box-sizing: border-box;
}

.l-container {
  max-width: 1000px;
  margin: 0 auto;
  box-sizing: border-box;
  width: 100%;
}

.max-width {
  max-width: 1000px;
}

.l-indent {
  padding-left: 40px;
  padding-right: 40px;
}

@media screen and (max-width: 1024px) {
  .l-indent {
    padding-left: 16px;
    padding-right: 16px;
  }
}
